.card {
    width: 200px;
    height: 150px;
    cursor: pointer;
    background: linear-gradient(#ADD8E6, #FFC0CB, #ADD8E6);
}

.card-content {
    padding-top: 1.5em;
    align-self: center;
}

.card-header {
    align-self: center;
}

.card-image {
    align-self: center;
    padding-top: 0.5em;
}